@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url("../fonts/space_grotesk/SpaceGrotesk-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "SpaceGrotesk-Light";
  src: url("../fonts/space_grotesk/SpaceGrotesk-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "SpaceGrotesk-Medium";
  src: url("../fonts/space_grotesk/SpaceGrotesk-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "SpaceGrotesk-Regular";
  src: url("../fonts/space_grotesk/SpaceGrotesk-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "SpaceGrotesk-SemiBold";
  src: url("../fonts/space_grotesk/SpaceGrotesk-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/inter/Inter-Bold.woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url("../fonts/inter/Inter-ExtraBold.woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter-ExtraLight";
  src: url("../fonts/inter/Inter-ExtraLight.woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter-Light";
  src: url("../fonts/inter/Inter-Light.woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/inter/Inter-Medium.woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/inter/Inter-Regular.woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("../fonts/inter/Inter-SemiBold.woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter-Thin";
  src: url("../fonts/inter/Inter-Thin.woff");
  font-display: swap;
}
