.menu_btn {
  background: var(--whee-primary);
  padding: 0.5em;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  ul.main_navigation {
    display: block;
    height: auto;
    margin-top: 1em;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    li.nav_element {
      border-bottom: 1px solid var(--whee-tertiary);
      display: block;
      justify-content: left;
      padding: 0.5em 0;
      width: 100%;
      z-index: 50000;
      cursor: pointer;
      span.navtext {
        text-transform: uppercase;
      }
      &:last-child {
        border-bottom: 1px solid var(--whee-primary);
      }
      &.active .navtext {
        border-left: 3px solid var(--whee-highlight-accent);
        padding-left: 0.5em;
      }
    }
    &.active {
      display: block;
      height: auto;
      max-height: 90vh;
      transition: max-height 0.5s ease-in-out;
    }
  }
}
